@model IEnumerable<CommentReport>
@{
    ViewData["Title"] = "Comment Reports";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Comment Reports</h4>
                <p class="card-description">
                    Here you can see all the comment reports
                </p>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Reporter
                                </th>
                                <th>
                                    Reason
                                </th>
                                <th>
                                    Comment
                                </th>
                                <th>
                                    Owner
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                @foreach (CommentReport item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.ReportFrom.UserName
                                        </td>
                                        <td>
                                            @item.Reason
                                        </td>
                                        <td>
                                            @item.Comment.Text
                                        </td>
                                        <td>
                                            @item.Comment.User.UserName
                                        </td>
                                        <td>
                                            <a asp-area="" asp-controller="Home" asp-action="DeleteComment" asp-route-id="@item.CommentId" asp-route-returnUrl="@string.Format("{0}{1}",Context.Request.Path, Context.Request.QueryString)" class="btn btn-danger btn-icon-text">
                                                Delete Comment
                                                <i class="mdi mdi-delete btn-icon-append"></i>
                                            </a>
                                            <a asp-action="DeleteCommentReport" asp-route-id="@item.Id" class="btn btn-warning btn-icon-text">
                                                Delete Report
                                                <i class="mdi mdi-delete btn-icon-append"></i>
                                            </a>
                                            @if (item.Comment.User.UserName != User.Identity.Name)
                                            {
                                                @if (item.Comment.User.Deleted)
                                                {
                                                    <a asp-action="UnbanUser" asp-route-id="@item.Comment.UserId" asp-route-returnUrl="@string.Format("{0}{1}",Context.Request.Path, Context.Request.QueryString)" class="btn btn-primary btn-icon-text">
                                                        Unban Comment Owner
                                                        <i class="mdi mdi-account-check btn-icon-append"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a asp-action="BanUser" asp-route-id="@item.Comment.UserId" asp-route-returnUrl="@string.Format("{0}{1}",Context.Request.Path, Context.Request.QueryString)" class="btn btn-danger btn-icon-text delete-user">
                                                        Ban Comment Owner
                                                        <i class="mdi mdi-block-helper btn-icon-append"></i>
                                                    </a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <h1>No reports.</h1>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        $('.delete-user').click(function (e) {
            e.preventDefault();
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will be able to recover this user!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("The user has been deleted!", {
                            icon: "success",
                        });
                        location.href = $(this).attr('href');
                    } else {
                        swal("The user is safe!");
                    }
                });
        })
    </script>
}

